{% extends 'shop/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container py-4 offset-3">
    <h1 class="text">Оплата и доставка</h1>
  <div class="row py-3">
    <div class="col-sm-8">
        <h5 class="p-3 mb-2 bg-secondary text-white " >Доставка из интернет-магазина </h5>
        <p class="text">
            После того, как вы оформите заказ, с вами свяжется сотрудник контакт-центра и расскажет об условиях доставки. Вы также можете изучить условия доставки на этой странице.
            Внимание! Точное время доставки вам сообщит менеджер контакт-центра.
        </p>
    </div>

  </div>
    <div class="row py-3">

    <div class="col-sm-4">
          <h6 class="p-3 mb-2 bg-secondary text-white " >При заказе на сумму от 70 рублей</h6>
          <p class="text">
            Доставим товары бесплатно по Минску и Минскому району в пределах 15 км от МКАД , если:
          </p>
          <ul>
             <li>Габариты товара не превышают 1,5 метра по любой из сторон.</li>
             <li>Объем заказа — до 1 м³, максимальный вес заказа — 300 кг.</li>
          </ul>
    </div>
    <div class="col-sm-4">
          <h6 class="p-3 mb-2 bg-secondary text-white " >При заказе на сумму от 900 рублей</h6>
          <p class="text">
            Доставим товары бесплатно по Минску и Минскому району в пределах 15 км от МКАД .
          </p>
    </div>

  </div>
</div>

{% endblock %}
