{% extends 'shop/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<h1>Три блока</h1>
<div class="row " style="height:500px;">
  <div class="col mx-2 border bg-light shadow p-3 bg-white rounded text-primary" style="background-size: cover">
    <div class="card" style="object-fit: cover;">
      <a href="{% url "shop:category_url" category="garden" %}">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gardening-1521662873.jpg"
        class="card-img-top" alt="..."style="object-fit: fill">
        <div class=" card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          </div>
        </div>
      </div>


      <div class="col mx-2 border bg-light shadow p-3 bg-white rounded">
        <div class="card" style="object-fit: fill">
          <a href="{% url "shop:category_url" category="build" %}"><img
            src="https://ontiverosmasonry.net/files/bigstock/2017/07/Bricklayer-Worker-Installing-B-141056804-768x513.jpg"
            class="card-img-top" alt="..." style="object-fit: fill">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              </div>
            </div>
          </div>
          <div class="col mx-2 border bg-light shadow p-3  bg-white rounded alight-item-center">
            <div class="card" style="object-fit: fill">
              <a href="{% url "shop:category_url" category="auto" %}"><img
                src="https://i.pinimg.com/originals/b1/e3/16/b1e3163c091f88cece1ac356900b430b.jpg"
                class="card-img-top" alt="..."style="object-fit: fill">
                <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              </div>
              </div>
            </div>
          </div>


{% endblock %}
