{% extends 'shop/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<h1>Три блока</h1>
<dif class="row mb-3 ">
    <dif class="col mx-2 border bg-light shadow p-3 bg-white rounded text-primary">
        <div class="card" style="width: 24rem;">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gardening-1521662873.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </dif>
    <dif class="col mx-2 border bg-light shadow p-3 bg-white rounded">
        <div class="card" style="width: 24rem;">
            <img src="https://ontiverosmasonry.net/files/bigstock/2017/07/Bricklayer-Worker-Installing-B-141056804-768x513.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </dif>
    <dif class="col mx-2 border bg-light shadow p-3  bg-white rounded aligt-item-center">
        <div class="card" style="width: 24rem; height: 25rem;">
            <img src="https://i.pinimg.com/originals/b1/e3/16/b1e3163c091f88cece1ac356900b430b.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </dif>
</dif>
<dif class="row mb-3 ">
    <dif class="col mx-2 border bg-light shadow p-3   bg-dark" style=" height: 20rem;">
    </dif>
</dif>

{% endblock %}
