{% extends 'shop/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container  bg-light ">
    <div>
        <h2>{{subcategory.title}} </h2>
    </div>
    <div class="row" >
        {% for product in products %}
            <div class="col-3  p-3 border bg-light">

                {% if product.status == 'public' %}
                    <div class="product-item m-1">
                        <div><a href="{% url "shop:index_url" %}">
                        <div>
                            <img src="{{ product.image.url }}" class="card-img" alt="...">
                        </div>
                            <h4 class="text-center">{{product.title}}</h4>
                            <p class="text-left-break">
                                {{ product.body|truncatewords:15 }}
                            </p>
                        <div>
                            <h4 class="text-center">{{product.price}} BYN</h4>
                        </div>
                        </div>

                        <div class="btn">
                            <button type="button" class="btn btn-primary">Добавить в корзину</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
<div class="container-fluid my-5 bg-light ">
    <dif class="row mb-3 ">
        <dif class="col mx-2 border bg-light shadow p-3   bg-dark" style=" height: 20rem;">
        </dif>
    </dif>
    </dif>